html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #32373b;
  background: #32373b;
}

@keyframes christmas {
  0% {
    color: #fff;
    transform: scale(1);
    opacity: 1;
  }
  50% {
    color: rgb(255, 94, 91, 0.98);
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    color: white;
    transform: scale(1);
    opacity: 1;
  }
}

.animation {
  animation: christmas 1.8s ease-in-out infinite;
}

.main {
  display: block;
  overflow: hidden;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2222;
  background: rgb(255, 94, 91, 0.98);
}

.header__wrapper {
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.header__top {
  height: 52.81px;
  display: none;
}

.logo {
  width: 60px;
  height: 100%;
}

.navigation {
  display: none;
}

.navigation--open {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 1px dashed #ffffff;
}

.navigation__list--special {
  border-bottom: none;
}

.navigation__link {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  font-weight: 400;
  padding: 1.5rem;
  display: block;
}

.hero {
  display: block;
  background: #32373b;
  padding-top: 60px;
}

.hero__wrapper {
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
}

.dumb {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dumb__photo {
  width: 50%;
}

.hero__title {
  text-align: center;
  font-size: 1.4rem;
  margin: 0.5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.hero__column--logo {
  text-align: center;
  width: 100%;
}

.hero__column--description {
  width: 100%;
  color: #fff;
  font-size: 4.5rem;
}

.hero__logo {
  font-size: 8rem;
  letter-spacing: 4px;
  margin: 0.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 90%;
}

.hero__logo--special {
  font-size: 3rem;
  line-height: normal;
}

.content {
  display: block;
  padding-top: 40px;
  background: #ffffff;
  padding-bottom: 20px;
  min-height: 40vh;
}

.content--special {
  background: #32373b;
  color: #fff;
}

.content__header {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 1rem 2rem;
}

.content__header--dark {
  color: #32373b;
}

.content__wrapper {
  max-width: 1100px;
  padding: 0 1rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.content__wrapper--text {
  display: block;
}

.content__description {
  text-align: center;
  flex-shrink: 0;
  width: 100%;
}

.content__wrapper-cash {
  margin-top: 2rem;
  flex-direction: row;
}

.cash__wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid white;
}

.cash__photo {
  max-width: 90%;
  border-radius: 4px;
}

.scales__wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #32373b;
}

.scales__photo {
  width: 90%;
  border-radius: 4px;
}

.footer {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.button {
  width: 102px;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button__link {
  background: #3185fc;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  display: block;
}

.button__link:hover {
  background: #4296fd;
}

.black-font {
  color: #32373b;
}

.scroll-up {
  background: rgb(66, 150, 253, 0.7);
  position: fixed;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  right: 16px;
  bottom: 16px;
  transition-duration: 0.3s;
}

.scroll-up:hover {
  background: rgb(66, 150, 253, 0.5);
}

.green {
  color: #48bf84;
}

.hero-offer {
  padding-top: 60px;
  display: block;
  background: #32373b;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.hero-offer__header {
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}

.line {
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid white;
  padding: 0 1rem;
}

.offer {
  display: block;
  padding-top: 20px;
  background: #ffffff;
  padding-bottom: 20px;
  min-height: 50vh;
}

.offer--special {
  background: #32373b;
  color: #ffffff;
}

.offer__header {
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 0;
}

.offer__wrapper {
  max-width: 1100px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.offer__wrapper--text {
  display: block;
}

p {
  line-height: 22px;
}

.hamburger {
  margin: 0;
  position: fixed;
  right: 16px;
  top: 13px;
}

.hero__column--title {
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .hero__title {
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .navigation__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0 0 0 16px;
    padding: 0;
    border: none;
  }

  .navigation__link {
    display: block;
    margin-left: 16px;
    padding: 1rem;
  }

  .navigation {
    display: block;
    margin-right: 16px;
  }

  .hamburger {
    display: none;
  }

  .cash__wrapper {
    width: 50%;
    text-align: center;
    border: none;
  }

  .scales__wrapper {
    width: 50%;
    text-align: center;
    border: none;
  }

  .hero__column--logo {
    width: 60%;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 40vh;
  }

  .hero__column--title {
    width: 100%;
    color: #fff;
    font-size: 4rem;
    display: flex;
    align-items: center;
    padding-bottom: 16px;
  }

  .hero__column--description {
    width: 60%;
    color: #fff;
    font-size: 4rem;
  }

  .dumb {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__logo--special {
    font-size: 4rem;
    line-height: normal;
  }

  .header__top {
    height: 52.81;
    display: block;
  }
}

@media (min-width: 1024px) {
  .cash__wrapper {
    width: 33%;
    text-align: center;
    border: none;
  }

  .scales__wrapper {
    width: 33%;
    text-align: center;
    border: none;
  }

  .scales__photo {
    height: 210px;
  }
}

.hero-contact {
  padding-top: 60px;
  display: block;
  background: #32373b;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.hero-contact__header {
  font-size: 3rem;
  margin-top: 16px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 30px;
  color: #3185fc;
}

.contact__header {
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 0;
  color: #3185fc;
  font-size: 1.8rem;
}

.contact__header--special {
  color: #ffffff;
  font-size: 24px;
}

.contact__wrapper {
  max-width: 1100px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  color: #ffffff;
}

.contact__wrapper--text {
  display: block;
}

.center {
  text-align: center;
  font-size: 1.5rem;
}

.line-allWidth {
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid white;
  padding: 0 1rem;
}

.underline {
  text-decoration: underline;
}

.map {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.map__photo {
  display: block;
  max-width: 100%;
}

@media (min-width: 768px) {
  .hero-contact__header {
    font-size: 4rem;
  }
  .contact__header {
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-top: 0;
    color: #3185fc;
    font-size: 2.5rem;
  }
  .contact__header--special {
    color: #ffffff;
    font-size: 1.5rem;
  }
}

.hero-cashRegister {
  padding-top: 60px;
  display: block;
  background: #32373b;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.hero-cashRegister__header {
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}

.cashRegister {
  display: block;
  padding-top: 20px;
  background: #ffffff;
  padding-bottom: 20px;
  min-height: 30vh;
}

.cashRegister--special {
  background: #32373b;
  color: #ffffff;
}

.cashRegister__header {
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 0;
}

.cashRegister__wrapper {
  max-width: 1100px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.cashRegister__wrapper--textBorder {
  border-top: 1px solid #48bf84;
  border-bottom: 1px solid #48bf84;
  max-width: 800px;
}

.cashRegister__header--attention {
  margin-bottom: 16px;
  font-size: 2rem;
}

.cashRegister__wrapper--text {
  display: block;
}

.cashRegister__photo {
  width: 100%;
  display: block;
}

.cashRegister__wrapper-photo {
  width: 100%;
}

.cashRegister__wrapper-text {
  max-width: 100%;
}

.price {
  color: #48bf84;
  text-decoration: underline;
}

.cashRegister-line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ffffff;
  margin: 1.5rem 0;
}

/**Eksperymenty**/

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

@media (min-width: 768px) {
  .cashRegister__wrapper-photo {
    width: 25%;
  }

  .cashRegister__wrapper-text {
    max-width: 75%;
  }

  .cashRegister__photo {
    width: 176px;
    height: 136px;
    display: block;
    padding: 1rem;
  }

  .cashRegister__wrapper--textBorder {
    border: 1px solid #48bf84;
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .cashRegister__wrapper-photo {
    width: 20%;
  }

  .cashRegister__wrapper-text {
    max-width: 80%;
  }

  .cashRegister__photo {
    width: 176px;
    height: 136px;
    display: block;
    padding: 1rem;
  }

  .cashRegister__wrapper--textBorder {
    border: 1px solid #48bf84;
    max-width: 800px;
  }
}

.hero-mainScales {
  padding-top: 60px;
  display: block;
  background: #32373b;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.hero-mainScales__header {
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}

.mainScales {
  display: block;
  padding-top: 20px;
  background: #ffffff;
  padding-bottom: 20px;
  min-height: 30vh;
}

.mainScales--special {
  background: #32373b;
  color: #ffffff;
}

.mainScales__header {
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 0;
}

.mainScales__wrapper {
  max-width: 1100px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.mainScales__wrapper--text {
  display: block;
}

.mainScales__photo {
  width: 100%;
  display: block;
}

.mainScales__wrapper-photo {
  width: 100%;
}



.mainScales__wrapper-text {
  max-width: 100%;
}

.mainScales-line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ffffff;
  margin: 1.5rem 0;
}

@media (min-width: 768px) {
  .mainScales__wrapper-photo {
    width: 25%;
  }

  .mainScales__wrapper-text {
    max-width: 75%;
  }

  .mainScales__photo {
    width: 176px;
    height: 136px;
    display: block;
    padding: 1rem;
  }

  .mainScales__photo--higher{
    height: 190px;
  }
}

@media (min-width: 1024px) {
  .mainScales__wrapper-photo {
    width: 20%;
  }

  .mainScales__wrapper-text {
    max-width: 80%;
  }

  .mainScales__photo {
    width: 176px;
    height: 136px;
    display: block;
    padding: 1rem;
  }

  .mainScales__photo--higher{
    height: 190px;
  }

  .discout{
    position: fixed;
    right: 0;
    top:100px;
    height: 50px;
    overflow: hidden;
    width: 138px;
    background-color: #43484c;
    color: white;
    border-radius: 4px;
    transition-duration: .4s;
  }

  .discout:hover{
    height: 260px;
    width: 138px;
    background-color: #32373b;
  }

  .discout__title{
    text-align: center;
  }

  .discout__description{
    margin: 8px;
  }
}